<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Data Binding Example</title>
    <!-- Load AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="studentApp" ng-controller="StudentController">

    <h2>AngularJS Data Binding Example</h2>

    
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="">
        </head>
        <body>
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            
            <script src="" async defer></script>
        </body>
    </html>
    <!-- Two-way data binding -->
    <label>Enter Student Name:</label>
    <input type="text" ng-model="student.name" placeholder="Enter name" />
    <br><br>
    <Label>Enter Roll No:</Label>
    <input type="text" ng-model="Roll.No" placeholder="Enter Roll  No" />
    <br><br>
    <label>Enter Course:</label>
    <input type="text" ng-model="Course" placeholder="Enter Course" />

    <br><br>

    <!-- One-way binding -->
    <p><b>One-way binding (student name):</b> {{student.name}},{{Roll.No}},{{Course}}</p>
    <!-- Two-way binding live update -->
    <p><b>Two-way binding (live update in input box):</b></p>
    <input type="text" ng-model="student.name" />
    <br><br>
    <input type="text" ng-model="Roll.No" />
    <br><br>
    <input type="text" ng-model="Course" />
    <br><br>

    <!-- Load the controller script -->
    <script src="bind.js"></script>

</body>
</html>
